#numberInput {
    height: 30px;
    font-size: 20px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

#numberInput:hover {
    border: 1px solid black;
    border-radius: 5px;
}