a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active, a.selected {
  color: #001aff;
}


.products-container {
  display: flex;
}

.categories {
  flex: 0.5;
  padding: 16px 0 16px 15px;
  border-right: 1px solid #ccc;
}

ul {
  list-style-type: none;
}

.categories h2 {
  margin: 0;
}

.product-list {
  flex: 2;
  padding: 16px;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product-list li {
  width: calc(33.33% - 16px);
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.product-list img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.product-list h3,
.product-list p {
  margin: 0;
}

.product-list select {
  width: 100%;
  margin-bottom: 8px;
}



@media screen and (max-width: 768px) {
  .products-container {
    flex-direction: column;
  }

  .categories {
    flex: 1;
    padding: 16px;
    border-right: none;
  }

  .product-list ul {
    justify-content: flex-start;
  }

  .product-list li {
    width: 100%;
    max-width: 100%;
  }
}


