.button-group {
    margin-bottom: 15px;
}

.button-group > button {
    margin-right: 10px;
}

.logout-button-container {
    margin-bottom: 20px;
}

@media (max-width: 768px) {

 }
 



button {
    margin: 5px; 
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;


    &:hover {
        background-color: #e0e0e0;
    }
}