
#labelName {
    font-weight: normal;
    font-size: 16px;
    color: #7A7A7A;
    margin-bottom: 10px;
    display: block;
}


@media (max-width: 768px) {

    #labelName {
        font-size: 14px;
        margin-bottom: 8px;
    }

    #inputName {
        padding: 10px 14px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #labelName {
        font-size: 12px;
        margin-bottom: 6px;
    }

    #inputName {
        padding: 8px 12px;
        font-size: 12px;
    }
}



.settings-container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.settings-container h2 {
    color: #2C3E50;
    text-align: center;
    margin-bottom: 20px;
}

.settings-container label {
    display: block;
    margin-bottom: 10px;
    color: #2C3E50;
}

.settings-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.settings-container button:hover {
    background-color: #2980B9;
}

.settings-notification {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 5px;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.settings-notification {
    animation: fadeIn 0.3s forwards;
}